@font-face {
  font-family: biko-bold;
  src: url(fonts/Biko_Bold.otf); }
@font-face {
  font-family: biko-reg;
  src: url(fonts/Biko_Regular.otf); }
html, body {
  margin:0;
  padding:0;
  height: 100% !important;
}

main {
  /*width:320px;
  margin: auto;*/
  width: 100%;
  max-width: 1024px;
  margin: auto; 
  padding-bottom: 30px;
}

.wrapper {
  min-height:100%;
  position:relative;
}



.introduction {
  background-image: url(images/intro-image.jpg);
  height: 14em;
  position: relative;
  margin-bottom: 2em;
  background-size: cover; 
}

.intro-back {
  background: rgba(77, 175, 199, 0.67);
  height: 100%;
  width: 100%;
}

section {
  margin-bottom: 3em; 
}

figure {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; 
}

.introduction figure {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 60%;
  /*text-align: center;*/
  margin: auto;
  padding-bottom: 6px;
  max-width: 300px; 
}

.introduction img {
  width: 100%; 
}

.hidden {
  display: none;
}

.title-site {
  font-family: biko-reg, sans-serif;
  color: #306591;
  text-align: left;
  position: fixed;
  top: 26px;
  z-index: 500;
  left: 0;
  visibility: hidden;
}

.progress-bar {
  text-align: right;
  height: 8px;
  position: fixed;
  top: 26px;
  right: 36px;
  background: white;
  z-index: 500;
  width: 224px;
  border-radius: 100px;
  display: none;
  -webkit-transition: top .2s ease-in-out;
  transition: top .2s ease-in-out;
}

nav {
  text-align: center;
  height: 20px;
  position: fixed;
  top: 0px;
  right: 0px;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-transition: line-height .4s ease;
  transition: line-height .4s ease;
  z-index: 500;
  width: 100%;
  padding: 10px 0 10px 0;
  line-height: 50px;

}

nav > a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding-right: 23px;
  font-family: biko-reg, sans-serif; 
}

nav > .last {
  padding-right: 20;
}

header {
  padding-bottom: 18px; 
}

header > p {
  text-align: center;
  color: #306591;
  font-size: 16px;
  padding-bottom: 8px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: biko-bold; 
}

summary {
  text-align: center;
  font-size: 15px;
  font-family: playfair display;
  font-style: italic;
  position: relative;
  padding-bottom: 5px;
  width: 80%;
  margin: auto;
  color: #777777;
  line-height: 22px; 
}

summary:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100px;
  /* or 100px */
  border-bottom: 1px solid #D4D882;
  left: 50%;
  margin-left: -50px; 
}

.process-icons ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  text-align: center; 
}

.process-icons li {
  display: inline-block;
  font-size: .7em;
  width: 13%;
  padding-left: 6%;
  font-family: biko-reg, sans-serif;
  color: #8CB3D4; 
}

.process-icons ul > li:first-child {
  padding-left: 0; 
}

.process-icons ul > li > img {
  padding-bottom: 2px;
  width: 90%; 
}

.process > header {
  padding-bottom: 15px; 
}

article {
  text-align: center;
  font-size: 14px;
  font-family: nunito;
  font-weight: 100;
  line-height: 25px; 
}

article > p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding-bottom: 10px;
  width: 70%;
  color: #444444;
  margin: auto; 
  max-width: 80%;
}


.front-student-list li {
  display: none;
}

.student-thumbs .student-list {
  margin-bottom: 20px; }

.student-thumbs .thumb {
  width: 65%;
  height: 40px;
  background: #e7e7e7;
  margin: auto;
  margin-bottom: 5px;
  overflow: hidden; 
}

.thumb > img {
  width: 100%; 
}

.load {
  text-align: center;
  padding: 14px; 
}

.quotes > header > figure {
  background-image: url(images/words.png);
  width: 100%;
  height: 14.5px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 8px;
  background-size: contain; 
}

footer {
  text-align: center;
  font-family: nunito;
  font-weight: 400;
  font-size: .5em;
  clear: both; 
  height: 30px;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}

footer > p {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; 
}

.quote-slides {
  width: 100%;
  overflow: auto; 
}

.quote-text {
  width: 40%;
  float: left;
  text-align: center;
  font-family: nunito;
  font-weight: 100;
  font-size: 9px;
  padding: 0 5% 0 5%; 
}

.left {
  text-align: right; 
}

.right {
  text-align: left; 
}

.arrow {
  width: 25%;
  float: left; 
}

.author {
  font-family: nunito;
  font-style: italic;
  font-weight: 100;
  font-size: 8px; 
}

.student-work > header {
  /*background-image: url("images/view-btn.png");*/
  display: block;
  /*background-repeat: no-repeat;
  background-position: 40% 0;*/
  position: relative;
  width: 80%;
  margin: auto; 
}

.view-option {
  position: absolute;
  right: 0;
  top: 0; 
}

.click {
  position: absolute;
  width: 22px;
  height: 20px;
  right: 50px;
  bottom: 30px; 
}

.student-list > .column-container {
  overflow: auto;
  margin: auto;
  width: 100%;
  max-width: 300px; 
}

.column-container ul {
  float: left;
  list-style: none;
  width: 45%; 
}

.column-container ul > .list-title {
  font-size: 14px;
  color: #306591;
  font-family: biko-bold; 
}

.column-container ul > li {
  font-size: 14px;
  line-height: 22px; 
}


/* flip styles */
.panel {
  margin: 0 auto;
  width: 100%;
  position: relative;
  font-size: .8em;
  -webkit-perspective: 600px;
  -moz-perspective: 600px; 
}

.panel .front {
  /*position: absolute;*/
  top: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  text-align: center;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; 
}

.panel.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); 
}





.panel .back {
  position: absolute;
  top: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; 
}

.panel.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}





/* full width/height container */
.slides-container {
    min-width: 770px;
    height: 855px;
    overflow: hidden;
    /*background: green;*/
    position: relative;
    display: none;
}
 
/* double the height/width of a viewport */
#slides {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.slide {
    position: absolute;
    border: 1px solid rgb(231, 231, 231);
}

#slide-1 {
    width:250px;
    height:240px;
    top:0px;
    left:0;
}

#slide-2 {
    width:350px;
    height:200px;
    top:0;
    right:0;
}

#slide-3 {
    width:250px;
    height:150px;
    top:260px;
    left:0;
}

#slide-4 {
    width:350px;
    height:150px;
    top:220px;
    right:0;
}

#slide-5 {
    width:250px;
    height:150px;
    top:430px;
    left:0;
}

#slide-6 {
    width:350px;
    height:250px;
    top:390px;
    right:0;
}

#slide-7 {
    width:250px;
    height:250px;
    top:600px;
    left:0;
}

#slide-8 {
    width:350px;
    height:150px;
    top:660px;
    right:0;
}









.slides-container figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.slides-container figure img {
    max-width: 100%;
    display: block;
    position: relative;
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
}

.slides-container figcaption {
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    color: #ed4e6e;
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
   
    -webkit-transition: transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    font-family: biko-REG;
}

.slides-container figcaption h4 {
    margin: 0;
    padding: 35px 19px 0px 19px;
    text-align: center;
    color: #ED734E;
  }
 
.grid figcaption span:before {
    content: 'by ';
}
 
.slides-container figcaption a {
    text-align: center;
    padding: 0px;
    /* border-radius: 2px; */
    display: inline-block;
    /* background: #ed4e6e; */
    color: #8E8E8E;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 0px;
    left: 0px;
}


 
.cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}


.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    
}

.cs-style-3 figcaption a:hover,
.cs-style-3 figcaption a.cs-hover {
    font-style: oblique;
}












@media only screen 
and (min-width : 570px) {

  .introduction {
    height: 20em;
  }

  nav {
    line-height: 65px;
    padding: 18px;
    text-align: right;
  }

  .progress-bar {
    display: block;
  }

  .title-site {
    visibility: visible;
  }

  .process-icons li {
    font-size: .8em;
    width: 11%;
  }

  .introduction figure {
    top: 85px;
    padding-bottom: 0px;
    max-width: 350px;
  }



}




@media only screen 
and (min-width : 770px) {

  .wrapper {
    min-width: 1024px;
  }

  header > p {
    font-size: 18px;
  }

  .introduction {
    height: 24em;
  }

  .introduction figure {
    top: 135px;
    padding-bottom: 0px;
    max-width: 400px;
  }

  .panel {
    display: none;
  }

  .slides-container {
    display: block;
  }

  section {
    margin-bottom: 5em;
  }


  article {
    font-size: 15px;
  }

  .view-option {
    display: none;
  }

  footer {
    font-size: .7em;
  }

  .rslides_container {
    width: 70% !important;
  }

}




@media only screen 
and (min-width : 940px) {

  .introduction {
    height: 34em;
  }

  .introduction figure {
    top: 200px;
    padding-bottom: 0px;
    max-width: 500px;
  }

  .process-icons li {
    font-size: 1em;
  }
}





/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

  .introduction {
    height: 40em;
  }

  .introduction figure {
    top: 200px;
    padding-bottom: 0px;
    max-width: 600px;
  }

  article {
    font-size: 1em;
    line-height: 25px;
  }

  .process-icons li {
    font-size: 1em;
    width: 12%;
  }


  .load {
    clear: both;
  }

  

}











